<nav  [style.backgroundColor]="showColor ? '#3f51b5': ''" class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
  <div class="container">
    <a class="navbar-brand">Our Web</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  href="#projects">Projects</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#team">Team</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!--Intro-->
<section class="view hm-gradient text-white" id="intro">
  <div class="full-bg-img d-flex align-items-center">
    <div class="container">
      <div class="row no-gutters" @slideIn>
        <div class="col-md-10 col-lg-6 text-center text-md-left margins">
          <div class="white-text">
            <div class="wow fadeInLeft" data-wow-delay="0.3s">
              <h1 class="h1-responsive font-bold mt-sm-5">Your Success is Our Mission.</h1>
              <div class="h4">
                We build, we developed attractive, interactive and satisfied Web Applications. 
              </div>
            </div><br>
            <!-- <div class="wow fadeInLeft" data-wow-delay="0.3s"><a class="btn btn-white dark-grey-text font-bold ml-0" href="https://www.youtube.com/watch?v=60ItHLz5WEA" target="_blank"><i class="fa fa-play mr-1"></i> View Demo</a><a class="btn btn-outline-white" href="#">Learn more</a></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="content">
  <section class="row no-gutters" id="features">
    <div class="col-lg-3 col-md-6 col-sm-12 deep-purple lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s" @zoomIn><i class="fa fa-line-chart fa-2x"></i>
        <div class="h5 mt-3">Angular</div>
        <p class="mt-5">Creates the front-end client application with user interface using
           angular version 7,8. </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 purple lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s" @zoomIn><i class="fa fa-industry fa-2x"></i>
        <div class="h5 mt-3">.Net</div>
        <p class="mt-5">Creates the back-end server application with application interface 
          using .Net version 3.0,3.1.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 teal lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".5s" @zoomIn><i class="fa fa-users fa-2x"></i>
        <div class="h5 mt-3"> Sql-server, SqlLite, MySql</div>
        <p class="mt-5">As a database server, it is a software product with the primary function of storing and retrieving data as requested by other software applications.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 light-blue lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".7s" @zoomIn><i class="fa fa-bullhorn fa-2x"></i>
        <div class="h5 mt-3"> Survival Strategies</div>
        <p class="mt-5">Bring to the table win-win survival strategies to ensure proactive domination.</p>
      </div>
    </div>
  </section>
<!--projects-->
  <section class="py-5" id="projects">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="text-center h1 my-4">Our best projects</h2>
        <p class="px-5 mb-5 pb-3 lead blue-grey-text text-center" data-aos='fadeIn'>
         Our strategies is to complete all the requirments of clients and satisfy costumers. Some 
         of the projects are mentioned below to judge our work.
        </p>
      </div>
      <div class="row wow fadeInLeft" data-wow-delay=".3s" @slideIn>
        <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5"><img class="img-fluid rounded z-depth-2" src="../../assets/img/kuala-lumpur.jpg" alt="project image"/></div>
        <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4" >
          <div class="row mb-3">
            <div class="col-1 mr-1"><i class="fa fa-hospital-o fa-2x red-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Hospital Management</h5>
              <p class="grey-text">
               Physiotherapy hospital(under development)-<a href="https://www.google.com" target="_blank">www.radhe.in</a>
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-1 mr-1"><i class="fa fa-code fa-2x red-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Technology</h5>
              <p class="grey-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                voluptate velit.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 mr-1"><i class="fa fa-money fa-2x deep-purple-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Finance</h5>
              <p class="grey-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                voluptate velit.
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
      </section>
      <!--Team-->
      <section class="py-5 text-white" id="team">
        <div class="container">
          <div class="wow fadeIn"  >
            <h2 class="h1 pt-5 pb-3 text-center" @fadeIn>Our team members</h2>
            <p class="px-5 mb-5 pb-3 lead text-center blue-grey-text" @fadeIn>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate
              esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
            </p>
          </div>
          <div class="row mb-lg-4 center-on-small-only">
            <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s" @slideIn>
              <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../../assets/img/vallabh.jpg" alt="team member"/></div>
              <div class="col-md-6 float-right">
                <div class="h4">Vallabh Asawa</div>
                <h6 class="font-bold blue-grey-text mb-4">Advertize Expert</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                <!-- <a href="https://twitter.com" target="_blank">
                  <i class="fa fa-twitter"></i>
                  <span class="ml-1">@nicolewest</span>
                </a> -->
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s" @rightIn>
              <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../../assets/img/sneha.jpg" alt="team member"/></div>
              <div class="col-md-6 float-right">
                <div class="h4">Sneha Asawa</div>
                <h6 class="font-bold blue-grey-text mb-4">Project Manager</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                <!-- <a href="https://twitter.com" target="_blank">
                  <i class="fa fa-twitter"></i>
                  <span class="ml-1">@hannahcruz</span>
                </a> -->
              </div>
            </div>
          </div>
          <div class="row center-on-small-only">
            <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s" @slideIn>
              <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../../assets/img/swarup.jpg" alt="team member"/></div>
              <div class="col-md-6 float-right">
                <div class="h4">Swarup Laddha</div>
                <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
                <p class="grey-text">Sometimes you wake up, Somestimes the fall kills you. And sometimes, when you fall, you fly.</p>
                <!-- <a href="https://twitter.com" target="_blank">
                  <i class="fa fa-twitter"></i>
                  <span class="ml-1">@markhall</span>
                </a> -->
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s" @rightIn>
              <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="../../assets/img/man-2.jpg" alt="team member"/></div>
              <div class="col-md-6 float-right">
                <div class="h4">Rohan Sharma</div>
                <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                <!-- <a href="https://twitter.com" target="_blank">
                  <i class="fa fa-twitter"></i>
                  <span class="ml-1">@vincentharris</span>
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Contact Us-->

      <section id="contact">
        <div class="rgba-black-strong py-5">
          <div class="container">
            <div class="wow fadeIn">
              <h2 class="h1 white-text pt-5 pb-3 text-center">Contact us</h2>
              <p class=" px-5 white-text mb-5 pb-3 lead text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate
                esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
              </p>
            </div>
            <div class="card wow fadeInUp" data-wow-delay=".4s" @slideUp>
              <div class="card-body">
            <div class="col-md-12">
              <ul class="list-unstyled text-center">
                <li class="mt-4"><i class="fa fa-map-marker indigo-text fa-2x"></i>
                  <p class="mt-2  ">21, Haweli complex, Cement road, Chikhli(MH), INDIA</p>
                </li>
                <li class="mt-4"><i class="fa fa-phone indigo-text fa-2x"></i>
                  <p class="mt-2 ">+91 7972586172, 9639898693</p>
                </li>
                <li class="mt-4"><i class="fa fa-envelope indigo-text fa-2x"></i>
                  <p class="mt-2 ">swarup1510.sl@gmail.com, Rs502693@gmail.com</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
      </section>
  </div>
  <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-5 flex-center">
            <a class="px-3"><i class="fa fa-facebook fa-lg white-text "></i>
            </a>
            <a class="px-3"><i class="fa fa-twitter fa-lg white-text"></i>
            </a>
            <a class="px-3"><i class="fa fa-google-plus fa-lg white-text"></i>
            </a>
            <a class="px-3"><i class="fa fa-linkedin fa-lg white-text"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container-fluid">
        <p>&copy; <a href="/">Material Landing</a> - Design: <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></p>
      </div>
    </div>
  </footer>